/* Reset start */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
	/* background: linear-gradient(180deg, rgba(245, 246, 250, 0) 0%, rgba(245, 246, 250, 0.8) 67.72%, #F5F6FA 100%); */
  /* background: linear-gradient(90deg, #F5F7Fc 50%, #F5F6FB 20%, 40%, #F5F6Fa 30% ); */
  background-color: #F5F7FC;
  background-image: url(../img/Bitmap.jpg);
  background-repeat: no-repeat;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}


button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}



img {
  max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.btn {
  background-color: #4857EC;
  font-weight: 700;
  font-size: 16px;
  line-height: 18.96px;
  color: #FFF;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.d-grid {
  display: grid;
}

.text-transform-uppercase {
  text-transform: uppercase;
}
/* Reset end */

/* Default clases start */

.container  {
  max-width: 934px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-content {
  margin-top: 80px;
}

.header-nav {
  justify-content: space-around;
}


.burger {
  display: none;
  cursor: pointer;
}
.burger  div{
  width: 25px;
  height: 3px;
  background-color: #F7E36D;
  margin: 5px;
  transition: all 0.3s ease;
}


.logo a h3 {
  font-weight: 900;
  font-size: 32px;
  line-height: 25px;
  color: #000000;
}



/* .header-nav a + a {
  margin-left: 57px;
} */

.header-nav a {
  font-weight: 500;
  font-size: 16px;
  line-height:  18.96px;;
  color: #000000;
  margin-left: 57px;
}

.header-nav a:hover {
  border-bottom: 4px solid #FF3344;
}



.header-nav-btn {
  margin-left: 59px;
  padding: 13px 29px 13px 25px;
  width: 142px;
  height: 45px;
}



.design-screen {
  margin-top: 10px;
  position: relative;
}

.design-screen-info {
  margin-top: 150px;
  margin-right: 50px;
}

.screen-info-title {
  max-width: 369px;
  font-weight: 700;
  font-size: 60px;
  line-height: 65px;
  margin-bottom: 26px;
}

.screen-info-text {
  max-width: 302px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.33px;
  color: #000;
  margin-bottom: 32px;
}

.screen-info-button {
  width: 165px;
  height: 55px;
  padding: 14px 29px 15px 29px;

}

/* .design-screen-body .elips {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: #2FEFB1;
  /* width: 705px; */

/* }  */

.screen-info-elipsis {
  position: absolute;
}

.info-elipsis-first {
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #F7E36D;
  border-radius: 50%;
  left: 260px;
  top: -260px;
}

.info-elipsis-second {
  position: absolute;
  width: 46px;
  height: 46px;
  background-color: #2FEFB1;
  border-radius: 50%;
  left: 320px;
  top: -220px;
}

.info-elipsis-third {
  position: absolute;
  width: 49px;
  height: 49px;
  background-color: #4857EC;
  border-radius: 50%;
  left: 360px;
  top: 45px;
}

.info-elipsis-fourth {
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #FF3344;
  border-radius: 50%;
  left: 350px;
  top: 200px;
}

.info-elipsis-fifth {
  position: absolute;
  width:35px;
  height: 35px;
  background-color: #FF3344;
  border-radius: 50%;
  left: 900px;
  top: 150px;

}

.design-screen-footer {
  margin-top: 16px;
  margin-bottom: 167px;
}

.screen-footer-text {
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #8A94A6;
  margin-bottom: 35px;
}

.trusted-company a + a {
  margin-left: 67px;
}

.features-content {
  grid-gap: 10px;
  grid-template-columns: 40% 30% 30%;
}

.features-content-info h5 {
  font-weight: 500;
  font-size: 20px;
  line-height: 23.7px;
  color: #4857EC;
  margin-bottom: 24px;
}

.features-content-info h3 {
  max-width: 288px;
  font-weight: 700;
  font-size: 48px;
  line-height: 45px;
  color: #000000;
  margin-bottom: 24px;
}

.features-content-info p {
  max-width: 343px;
  font-weight: 400px;
  font-size: 18px;
  line-height: 25px;
  color: #000;
}

.card-item-logo {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  padding: 17px 18px;
}

.content-card-item  .first {
  background: rgba(72, 87, 236, 0.2);
}

.content-card-item h4 {
  margin-top: 10px;
  font-weight: 500;
  font-size: 24px;
  line-height: 45px;
  color: #000;
}

.content-card-item p {
  font-weight: 400;
  color: #98A1BB;
  font-size: 18px;
  line-height: 25px;
}

.content-card-item + .content-card-item {
  margin-top: 72px;
}

.content-card-item  .second {
  background: rgba(47, 239, 177, 0.2);
}

.content-card-item  .third {
  background: rgba(255, 51, 68, 0.2);
}

.content-card-item  .fourth {
  background: rgba(247, 227, 109, 0.2);
}

.features {
  margin-bottom: 215px;
  position: relative;
}

.portfolio-title {
  margin-top: 10px;
  margin-bottom: 24px;

}

.portfolio-title h6 {
  font-weight: 500;
  font-size: 20px;
  line-height: 23.7px;
  color: #4857EC;
  text-align: center;
}

.portfolio-elipsis {
  position: absolute;
}

.portfolio-elipsis-first {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #F7E36D;
  top: 35px;
  left: 110px;
}

.portfolio-elipsis-second{
  position: absolute;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: #FF3344;
  top: -50px;
  left: 240px;
}

.portfolio-elipsis-third{
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #2FEFB1;
  top: -50px;
  left: 900px;
}

.portfolio-elipsis-fourth{
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #4857EC;
  top: 90px;
  left: 750px;
}

.portfolio-work-title  {
  margin-top: 24px;
}

.portfolio-work-title h3 {
  font-weight: 700;
  font-size: 48px;
  line-height: 45px;
  text-align: center;
}

.portfolio-work {
  margin-bottom: 83px;
}

.portfolio-card {
  margin-top: 63px;
  margin-left: 10px;
}

.portfolio-card-item a img {
  border-radius: 30px;
}

.card-item-title h4{
  max-width: 279px;
  margin-top: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
}

.card-item-text {
  max-width: 255px;
  margin-top: 4px;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  color: #98A1BB;
}

.portfolio-card-continious {
  margin-top: 15px;
  margin-left: 20px;
  padding: 5px 13px 11px 12px;
  width: 35px;
  height: 35px;
  background-color: transparent;
  border-radius: 5px;
  background-color: #F9C94E;
}

.portfolio-card-continious:hover {
  background-color: #4857EC;
}

.portfolio-card {
  grid-gap: 16px;
  grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-btn {
  margin-left: 390px;
  margin-top: 76px;
  width: 142px;
  height: 45px;
  padding: 13px 15px;
  margin-bottom: 170px;
}

.testimonial-content h5 {
  font-weight: 500;
  font-size: 20px;
  line-height: 23.7px;
  color: #4857EC;
  margin-bottom: 24px;
}

.testimonial-content-title {
   margin-top: 23px;
   font-weight: 700;
   font-size: 48px;
   line-height: 45px;
   color: #000;
   margin-bottom: 95px;
}

.slider-card {
  width: 460px;
  height: 250px;
  background-color: #fff;
  border-radius: 10px;
  margin-left: 10px;
}

.slider-header {
  padding-top: 47px;
  margin-left: 25px;
  margin-bottom: 23px;
}

.slider-header-img {
  width: 62px;
  height: 62px;
  background: rgba(72, 87, 236, 0.1);
  border-radius: 50%;
  padding: 14px 15px;
}

.slider-header-img.second {
  background: rgba(47, 239, 177, 0.2)

}

.slider-header-info {
  margin-left: 19px;
}

.slider-header-info h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #000;
}

.slider-header-info  p {
  font-weight: 400;
  font-size: 16px;
  color: #98A1BB;
  line-height: 25px;
}

.slider-header-stars {
  margin-left: 80px;
  margin-right: 5px;
}

.slider-card-text {
  margin-left: 26px;
  margin-right: 22px;
  padding-bottom: 32px;
  font-weight: 400;
  font-size: 16px;
  color: #000;
}

/* Слайдер */
.content-sliders{
  position: relative;
}
/* Слайдер запущен */

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track{
  display: flex;
}


.slick-arrow {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0;
}

.slick-arrow.slick-prev {
  position: absolute;
  color: #AAB2C8;
  border: 2px solid #AAB2C8;
  top: -130px;
  left: 815px;
}
.slick-arrow.slick-prev:after {
  content: "\2190";
  font-family: "Font Awesome 5 Brands";
  font-size: 18px;
  color: #AAB2C8;
}

.slick-arrow.slick-next {
  position: absolute;
  border: 2px solid #F9C94E;
  color: #F9C94E;
  top: -130px;
  left: 865px;
}

.slick-arrow.slick-next:before {
  content: "\2192";
  font-family: "Font Awesome 5 Brands";
  font-size: 18px;
  color: #F9C94E;
}

.testimonias-more {

  margin-top: 84px;
  margin-left: 370px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.33px;
  color: #4857EC;
}

.testimonias-more a::after {
  content: "\2192";
  margin-left: 15px;
  height: 15px;
  width: 11.25;
}

.team {
  margin-top: 166px;
  margin-bottom: 24px;
}

.team-title h5 {
  font-weight: 500;
  font-size: 20px;
  line-height: 23.7px;
  color: #4857EC;
}

.our-team .col-3 {
  margin-left: 20px;
}

.our-team .col-3 img {
  border-radius: 30px;
}

.our-team .col-3  h5 {
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 45px;
}

.our-team .col-3  p {
  text-align: center;
  font-weight: 400;
  color: #98A1BB;
  font-size: 18px;
  line-height: 25px;
}

.view-more {
  margin-top: 66px;
  margin-left: 420px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.33px;
  color: #4857EC;
}

.view-more a::after {
  content: "\2192";
  margin-left: 15px;
  height: 15px;
  width: 11.25;
}

footer {
  margin-top: 107px;
  background-color: #fff;
  min-height: 567px;
}

.footer-conteiner {
  max-width: 1191px;
  margin: 0 auto;
  padding: 0 15px;
  background-color: #fff;
}

.footer-content .col-2{
  padding-top: 145px;
}

.footer-content {
  grid-gap: 10px;
  grid-template-columns: 30% 70%;
}

.col-2-wrap {
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.col-list  {
  flex-direction: column;
}

.footer-social {
  margin-top: 180px;
  max-width: 273px;

}

.footer-solial-content + .footer-solial-content {
  margin-left: 42px;
}


.col-2-card a h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 27.43px;
}

.col-list  a {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #AAB2C8;

}

 .col-list  a +  a {
  margin-top: 19px;
}

.footer-text {
  margin-top: 73px;
}

.footer-text  p {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #8A94A6;
}

@media  (max-width: 1024px){
  .header-nav  {
    width: 60%;
  }
}



@media  (max-width: 760px){
  .header-nav {
    overflow: hidden;
  }
  .header-nav {
    position: absolute;
    right: 2px;
    height: 84vh;
    top: 20vh;
    background-color: #F5F7FC;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translate(100%);
    transition: transform 0.5s ease-in;
    z-index: 99;
  }
  .header-nav a{
    opacity: 0;
    top: 20px;
    align-items: center;

  }

  .burger {
    display: block;
  }
  .design-screen-body img{
    /* margin-top: 50%; */
    /* width: 50%;
    height: 50%; */
   display: none;
   /* z-index: 1; */
  }
}

.nav-active {
  transform: translate(0%);
}

@keyframes navLinkFade {
  from{
    opacity: 0;
    transform: translate(50px);

  }to {
    opacity: 1;
    transform: translate(0px);

  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px,6px);

}

.toggle .line2{
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px,-6px);
}